@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

root{
    --text-default: 'Hammersmith One', sans-serif;
    --gg-style: Lemonada, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  font-family: var(--text-default);
}

#page-wrapper {
  position: relative;
}

li {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
  font-family: var(--text-default);
  font-weight: 600;
  color: palevioletred;
}

/** global classes styling **/

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 0px 10px;
  height: 40px;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
  color: whitesmoke;
  border-radius: 2px;
  background: transparent;
  cursor: pointer;
}

.grid {
  display: flex;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  min-height: 75px;
  padding: 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}

.logo {
  width: 60vw;
}

@media (max-width: 400px) {
  .logo {
    margin-top: 15px;
    width: 100%;
    position: relative;
  }
}

.logo > img {
  width: 70px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 100px;
}

@media (max-width: 650px) {
  .logo > img {
    margin: 0 auto;
  }
}

nav {
  font-weight: 400;
}

@media (max-width: 650px) {
  nav {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;
    padding: 0;
  }
  nav li {
    padding-bottom: 5px;
  }
}

nav > ul {
  padding: 0 10px;
  width: 30vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (max-width: 650px) {
  nav > ul {
    flex-direction: column;
  }
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}

#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
  color: palevioletred;
  text-shadow: 1px 1px black;
}

#hero input[type='email'] {
  max-width: 275px;
  width: 100%;
  padding: 5px;
}

#hero input[type='submit'] {
  max-width: 150px;
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  background-color: palevioletred;
}

#hero input[type='submit']:hover {
  background-color: pink;
  transition: background-color 1s;
}

@media (max-width: 650px) {
  #hero {
    margin-top: 120px;
  }
}

#features {
  margin-top: 30px;
}

#features .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 125px;
  width: 20vw;
  color: palevioletred;
  text-shadow: 2px 2px black;
}

@media (max-width: 550px) {
  #features .icon {
    display: none;
  }
}

#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}

#features .desc h2{
    color: palevioletred;
    font-family: var(--gg-style);
}

@media (max-width: 550px) {
  #features .desc {
    width: 100%;
    text-align: center;
    padding: 0;
    height: 150px;
  }
}

@media (max-width: 650px) {
  #features {
    margin-top: 0;
  }
}

#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

#how-it-works > iframe {
  max-width: 560px;
  width: 100%;
}

#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
  color: whitesmoke;
  text-shadow: 1px 1px black;
}
#theboys{
    background-image: linear-gradient(
      115deg,
      rgba(27, 26, 27, 0.8),
      rgba(255, 255, 255, 0)
    ),
    url(https://socdn.smtown.com/upload/mf/album/images/000/000/446/446.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#ohalbum{
    background-image: linear-gradient(
      115deg,
      rgba(27, 26, 27, 0.8),
      rgba(255, 255, 255, 0)
    ),
    url(https://upload.wikimedia.org/wikipedia/id/thumb/4/48/SNSDOh%21.jpg/339px-SNSDOh%21.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#lionheart{
    background-image: linear-gradient(
      115deg,
      rgba(250, 102, 250, 0.8),
      rgba(255, 255, 255, 0)
    ),
    url(https://socdn.smtown.com/upload/mf/album/images/000/010/193/10193.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.product > .level {
  padding: 15px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
}

.product > h2 {
  margin-top: 15px;
}

.product > ol {
  margin: 15px 0;
}

.product > ol > li {
  padding: 5px 0;
}

.product > button {
  border: 0;
  margin: 15px 0;
  background-color: palevioletred;
  font-weight: 600;
}

.product > button:hover {
  background-color: pink;
  transition: background-color 1s;
}

@media (max-width: 800px) {
  #pricing {
    flex-direction: column;
  }
  .product {
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
